body{
    background-color: red;
}
.success_container{
    display: block;
    padding-top: 77px;
    width: 576px;
    height: 370px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.7);
    border-radius: 6px;
}


.circle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99px;
    height: 99px;
    border-radius: 100%;
    border: 10px solid #32B857;
    animation: success 1.2s;
}
@keyframes success{
    0%{
        transform: scale(0);

    }
    50%{
        transform: scale(1);
    }
}
.circle::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 35px;
    background-color: #32B857;
    transform: rotateZ(-45deg);
    margin-top: 38px;
    margin-left: 30px;
}

.circle::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 80px;
    background-color: #32B857;
    transform: rotateZ(45deg);
    margin-top: -1px;
    margin-left: 64px;
    z-index: 10;
    
}

.white_side{
    display: block;
    position: absolute;
    width: 30px;
    height: 50px;
    background-color: white;
    margin-left: 75px;
    transform: rotateZ(-30deg);  
}

.white_side::after{
    content: '';
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    background-color: white;
    transform: rotateZ(30deg);
    margin-left: 10px;
    margin-top: 44px;

}

@keyframes anim {
    0%{
        margin-left: 20px;
        margin-top: 10px;
        
    }
    50%{
        margin-left: 20px;
        margin-top: 30px;
        
    }
    100%{
        margin-left: 75px;
        margin-top: 0;
        z-index: 0 !important;
    }
}


.success_container h3{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    color: #909090;
}

.success_container p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.success_dialog_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 74px;
    height: 34px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #EE7100;
    color: white;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
}